<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>question</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Answer</display-name>
    <servlet-name>Answer</servlet-name>
    <servlet-class>controller.Answer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Answer</servlet-name>
    <url-pattern>/Answer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Asking</display-name>
    <servlet-name>Asking</servlet-name>
    <servlet-class>controller.Asking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Asking</servlet-name>
    <url-pattern>/Asking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerservlet</display-name>
    <servlet-name>registerservlet</servlet-name>
    <servlet-class>controller.registerservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerservlet</servlet-name>
    <url-pattern>/registerservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>controller.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QConnect</display-name>
    <servlet-name>QConnect</servlet-name>
    <servlet-class>dao.QConnect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QConnect</servlet-name>
    <url-pattern>/QConnect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ans</display-name>
    <servlet-name>Ans</servlet-name>
    <servlet-class>model.Ans</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ans</servlet-name>
    <url-pattern>/Ans</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ask</display-name>
    <servlet-name>Ask</servlet-name>
    <servlet-class>model.Ask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ask</servlet-name>
    <url-pattern>/Ask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>model.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>model.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CaptchaServlet</display-name>
    <servlet-name>CaptchaServlet</servlet-name>
    <servlet-class>controller.CaptchaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaptchaServlet</servlet-name>
    <url-pattern>/CaptchaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>controller.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerservlet1</display-name>
    <servlet-name>registerservlet1</servlet-name>
    <servlet-class>controller.registerservlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerservlet1</servlet-name>
    <url-pattern>/registerservlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Storeans</display-name>
    <servlet-name>Storeans</servlet-name>
    <servlet-class>controller.Storeans</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Storeans</servlet-name>
    <url-pattern>/Storeans</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet1</display-name>
    <servlet-name>UpdateServlet1</servlet-name>
    <servlet-class>controller.UpdateServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet1</servlet-name>
    <url-pattern>/UpdateServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotServlet</display-name>
    <servlet-name>ForgotServlet</servlet-name>
    <servlet-class>controller.ForgotServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotServlet</servlet-name>
    <url-pattern>/ForgotServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetServlet</display-name>
    <servlet-name>ResetServlet</servlet-name>
    <servlet-class>controller.ResetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetServlet</servlet-name>
    <url-pattern>/ResetServlet</url-pattern>
  </servlet-mapping>
</web-app>